.Header {
  width: 100%;
  color: white;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.Header .headerPlay {
  height: 40px;
  width: 100%;
  background-color: #476198;
  display: flex;
  padding: 0 40px;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.headerPlay h3,
.headerPlay p {
  font-weight: 500;
  font-size: 18px;
}

.headerPlay h3 {
  text-transform: uppercase;
}

.headerPlay span {
  margin: 0 5px;
}